<div class="container">
  <h2>Artists</h2>

  <div class="panel-group" id="artistaccordion" role="tablist" aria-multiselectable="false" ng-repeat="artist in artists">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a data-target="#{{artist.slug}}" data-toggle="collapse" data-parent="#artistaccordion" aria-expanded="true" aria-controls="{{artist.slug}}" >
            {{artist.name}}
          </a>
        </h4>
      </div>
      <div id="{{artist.slug}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <div class="container" ng-repeat="album in artist.albums">
            {{ album }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
    <md-content>
      <br />
      <md-slider ng-model="time" step="1" min="0" max={{ status.time }} aria-label="rating"></md-slider>
    </md-content>
</div>
